[Desktop Entry]
Encoding=UTF-8
Name=Birch
Comment=Birch P2P Cryptocurrency
Comment[fr]=Birch, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Birch, eşten eşe kriptografik sanal para birimi
Exec=birch-qt %u
Terminal=false
Type=Application
Icon=birch128
MimeType=x-scheme-handler/birch;
Categories=Office;Finance;
